.newUserCont {
  float: right;
  Button {
    padding: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20%;
  }
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-modal-content {
    width: 100%;
  }
  .ant-modal-title {
    text-align: center;
    margin-bottom: 5%;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
